{% extends "base.html" %}

{% block sectiontitle %}<h2>About Vastro</h2>{% endblock sectiontitle %}
{% block content %} <p>At Vastro, we are revolutionizing the way humanity accesses critical resources by venturing beyond 
    the boundaries of Earth. Founded with a bold vision to explore and mine asteroids, we are committed to advancing space 
    mining technology that can provide the raw materials essential for powering the industries of the future. 
    Our team of scientists, engineers, and space pioneers is driven by a passion for innovation and sustainability, 
    seeking not only to unlock the wealth of the cosmos but also to protect our planet by reducing the need for Earth-based mining. 
    With a focus on precision, safety, and efficiency, Vastro is leading the charge in creating a new era of resource exploration, 
    where the sky is no longer the limit.</p>
{% endblock content %}