{% extends "base.html" %}

{% block sectiontitle %}<h2>Vastro</h2>{% endblock sectiontitle %}
{% block content %}
<p>Welcome to Vastro, where the future of resource exploration takes a giant leap beyond Earth. 
    We are pioneering space mining to unlock the vast potential of asteroids and other celestial bodies, 
    providing critical materials that will power the industries of tomorrow. With cutting-edge technology 
    and a vision for sustainable growth, Vastro is shaping the next frontier of innovation, making it possible 
    to access rare resources while reducing the environmental impact on our planet. Join us as we push the boundaries of 
    what’s possible, tapping into the limitless opportunities the cosmos has to offer. </p>
{% endblock content %}